<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title> Home </title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="None">
	<link rel="apple-touch-icon" href="static/favicon.png">
	<link rel="icon" type="image/png" href="static/favicon.png">
	<!--[if IE]><link rel="shortcut icon" href="static/favicon.ico"><![endif]-->
	<link rel="stylesheet" href="static/css/base.css">
	<!--[if lt IE 9]>
	<script src="static/js/libs/html5shiv.min.js"></script>
	<script src="static/js/libs/respond.min.js"></script>
	<![endif]-->
    </head>

    <body id="page-top" class="noscript lang-en tpl-fullwidth">
	<header class="navbar navbar-head navbar-inverse">
            <div class="container">
		<div class="navbar-header">
                    <h1 class="navbar-brand">
			<a href="/en/">
                            <span class="sr-only"></span>
                            {# <img src="static/img/logo.svg" alt="" height="35" /> #}
			</a>
                    </h1>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".js-navbar-header">
			<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
		</div>

		<div class="navbar-collapse collapse js-navbar-header">
                    <nav class="nav navbar-main navbar-right" id="page-navigation" role="navigation">
                        <h2 class="sr-only">Navigation</h2>
                        <ul class="nav navbar-nav">
			    <li class="child active first">
				<a href="/index.html"><span>Home</span></a></li>

			    <li class="child children dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
				    <span>Menu<span class="caret"></span> </span> </a>
				<ul class="dropdown-menu" role="menu">
				    {% for item in menus %}
					<li class="child first">
					    <a href="{{ item['href'] }}"><span>{{ item['title'] }}</span></a></li>
				    {% endfor %}
				</ul>
			    </li>
                        </ul>
                    </nav>
		</div>
	    </div>
	</header>

	<hr class="sr-only" id="page-content" />
	<div class="container">
	    {% block content %}{% endblock %}
	</div>
	<hr class="sr-only" />

	<footer class="footer" role="contentinfo">
            <h1 class="sr-only" id="page-footer">Sitemap</h1>
            <div class="container">
                <ul class="list-inline">
                    <li class="pull-right"><a href="#page-top" data-spy="scroll"><span class="fa fa-left fa-arrow-up"></span> Back to top</a></li>
                </ul>
		<div class="col-sm-16">
                    <p>Copyright © 2016 <a href="https://github.com/FabriceSalvaire/css-demo">CSS Demo</a>
			/ <a href="https://github.com/FabriceSalvaire" itemscope itemtype="http://schema.org/People">
			<span itemprop="author">Fabrice Salvaire</span></a>
			/ <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC by-nc-na</a></p>
		</div>
            </div>
	</footer>

	<script src="static/js/libs/jquery.min.js"></script>
	<script src="static/js/libs/bootstrap.min.js"></script>
	<script src="static/js/libs/class.min.js"></script>
	<script src="static/js/libs/outdatedBrowser.min.js"></script>
	<script src="static/js/addons/cl.utils.js"></script>
	<script src="static/js/base.js"></script>

	<div class="browser-outdated" id="outdated" hidden="hidden">
	    <noscript><h3>Please enable JavaScript</h3></noscript>
	    <h3>Your browser is out-of-date!</h3>
	    <p>Update your browser to view this website correctly.</p>
	    <p>
		<a href="http://outdatedbrowser.com/" class="btn btn-lg btn-outline" id="btnUpdateBrowser">
		    Update my browser now
		</a>
	    </p>
	    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
	</div>

    </body>
</html>
