{% extends "_base.html" %}

{% block content %}
    <h1>Colour</h1>


    <h2>Table of Contents</h2>
    <ul>
	<li><a href="#introduction">Introduction</a></li>
	<li><a href="#color-contrast-table">Color Contrast Table</a></li>
	<li><a href="#luminosity-contrast-table">Luminosity Contrast Table</a></li>
	<li><a href="#foreground-gray-level">Foreground Gray Level</a></li>
	<li><a href="#background-gray-level">Background Gray Level</a></li>
	<li><a href="#blue-table">Blue Foreground Table</a></li>
	<li><a href="#dark-table">Dark Background Table</a></li>
	<li><a href="#foreground-hue">Foreground Hue</a></li>
	<li><a href="#foreground-hue-on-nverted">Foreground Hue on inverted background</a></li>
    </ul>


    <h2 id="introduction">Introduction</h2>
    <p>
	In practice a colour is constructed as a painter mixes primary colours. A colour is defined by:
	<ul>
	    <li>its <strong>hue</strong> (red, blue, green, etc.),</li>
	    <li>a colour <strong>saturation</strong> which measure the colour purity,</li>
	    <li>and a <strong>brightness</strong>.</li>
	</ul>
	Hue is usually defined as an angle position on a colour wheel.
    </p>
    <p>
	<strong>Rule: A desaturated or pastel colour looks softer than a pure red, green or blue.</strong>
    </p>
    <p>
	<strong>Rule: The foreground and background colour must maximise the contrast.</strong><br>
	This concept is normalised in architectural design of buildings dedicated to public in order
	to satisfy all kind of visual perceptions.<br>
	Contrast can be accurately measured with a color checker (brightness difference).<br>
    </p>
    <p>
	<strong>Rule: On white background, a dark or bluish (yellow-redish-orange) foreground colour are best.</strong><br>
	<strong>Rule: On dark background, a white or yellow-green (orange) foreground colour are best.</strong><br>
	Both are dual. In the past, monochrome CRT screens were designed with a green or orange fluorescence.
    </p>

    <h3>Perceptual Colour</h3>
    <p>
	Human eye is much sensitive in green and red in day light configuration, blue sensitivity is
	much more lower.  In night configuration, red sensitivity is much more lower than green and
	the vision is monochromatic.
    </p>
    <p>
	Blue light is a wakup signal for our brain since it is the colour of the sky.
    </p>

    <h3>Colour Ambience</h3>
    <p>
	We will prefer a bright (day light) ambiance like for a standard paper sheet instead of a
	twilight or night ambiance. Dark background only work for some specific cases. However we
	can work with a dark background, but not communicate. On an LCD screen, it stops the
	backlight luminosity and provide a high contrast with bright contents. It can help to
	contrast and match the context of an image or a video, for example.
    </p>
    <p class="inverted-color-gray-10 text-center lead" style="color: white; padding: 5em">
	Is it a joyous ambiance?
    </p>

    <h3>Contrast Table</h3>
    <p>
	<strong>Contrat must be higher than 70.</strong>
	<table class="table table-bordered" style="text-align: center">
	    <tr>
		<td></td>
		{% for name in contrast_matrix['columns'] %}
		    <td style="font-size: 120%">{{ name }}</td>
		{% endfor %}
	    </tr>
	    {% for name in contrast_matrix['rows'] %}
		<tr>
		    <td style="font-size: 120%">{{ name }}</td>
		    {% set i = loop.index0 %}
		    {% for value in contrast_matrix['triangle'][i] %}
			<td>
			    {% if value >= 70 %}
				<strong style="font-size: 120%">{{ value }}</strong>
			    {% else %}
				{{ value }}
			    {% endif %}
			</td>
		    {% endfor %}
		</tr>
	    {% endfor %}
	</table>
	Source: Arthur P. and Passini R., Wayfinding - People, Signs and Architecture (page 179), McGraw-Hill Ryerson, Whitby, Ontario, 1992, ISBN 0-07-551016-2.
    </p>

    <h2 id="color-contrast-table">Color Contrast Table</h2>
    <p><strong>
	Notice the poor contrasted circular zones in the table.<br>
	Remenber the hue is defined on a wheel and we can thus wrap the rows and columns to form a sphere.
    </strong></p>
    <table class="table" style="font-size: 13pt; text-align: center">
	<tr style="color: #fff">
	    <td style="background: #fff">Contrast</td>
	    <td style="background: hsl(0, 0%, 20%)">Contrast</td>
	    {% for hue2 in range(0, 360, 30) %}
		<td style="background: hsl({{ hue2 }}, 90%, 50%)">Contrast</td>
	    {% endfor %}
	</tr>
	<tr style="color: #000">
	    <td style="background: #fff">Contrast</td>
	    <td style="background: hsl(0, 0%, 20%)">Contrast</td>
	    {% for hue2 in range(0, 360, 30) %}
		<td style="background: hsl({{ hue2 }}, 90%, 50%)">Contrast</td>
	    {% endfor %}
	</tr>
	{% for hue1 in range(0, 360, 30) %}
	    <tr style="color: hsl({{ hue1 }}, 90%, 50%)">
		<td style="background: #fff">Contrast</td>
		<td style="background: hsl(0, 0%, 20%)">Contrast</td>
		{% for hue2 in range(0, 360, 30) %}
		    <td style="background: hsl({{ hue2 }}, 90%, 50%)">Contrast</td>
		{% endfor %}
	    </tr>
	{% endfor %}
    </table>


    <h2 id="luminosity-contrast-table">Luminosity Contrast Table</h2>
    <p><strong>
	Notice the contrasted triangles.<br>
	Remenber the hue is defined on a wheel and we can thus wrap the rows to form a cylinder.
    </strong></p>
    <table class="table" style="font-size: 13pt; text-align: center">
	<tr style="color: #fff">
	    <td></td>
	    {% for luminosity in range(0, 110, 10) %}
		<td style="background: hsl(0, 0%, {{ luminosity }}%)">Contrast</td>
	    {% endfor %}
	</tr>
	<tr style="color: #000">
	    <td></td>
	    {% for luminosity in range(0, 110, 10) %}
		<td style="background: hsl(0, 0%, {{ luminosity }}%)">Contrast</td>
	    {% endfor %}
	</tr>
	{% for hue1 in range(0, 360, 20) %}
	    <tr style="color: hsl({{ hue1 }}, 90%, 50%)">
		<td>{{ hue1 }}</td>
		{% for luminosity in range(0, 110, 10) %}
		    <td style="background: hsl(0, 0%, {{ luminosity }}%)">Contrast</td>
		{% endfor %}
	    </tr>
	{% endfor %}
    </table>


    <h2 id="foreground-gray-level">Foreground Gray Level</h2>
    {% for i in range(0, 100, 10) %}
	<p style="font-size: 12pt" class="color-gray-{{ i }}">
	    {{ i }}% Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
    {% endfor %}

    {% for i in range(0, 100, 10) %}
	<p style="font-size: 12pt" class="color-gray-{{ i }}">{{ i }}%
	    Eius populus ab incunabulis primis ad usque
	    pueritiae tempus extremum, quod annis circumcluditur fere trecentis,
	    circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices
	    bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex
	    omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque
	    vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae
	    discessit.
	</p>
    {% endfor %}


    <h2 id="background-gray-level">Background Gray Level</h2>
    {% for i in range(0, 100, 10) %}
	<h3>background {{ i }}%</h3>
	<div class="inverted-color-gray-{{ i }}" style="padding: 10px">
	    {% for j in range(0, 110, 10) %}
		{% if  (i-j)|abs > 20 %}
		    <p style="font-size: 12pt" class="color-gray-{{ j }} ">
			{{ j }}% Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
		{% endif %}
	    {% endfor %}
	</div>
    {% endfor %}


    <h2 id="blue-table">Blue Foreground Table</h2>
    <table class="table" style="font-size: 13pt; text-align: center">
	{% for luminosity in range(40, 70, 10) %}
	    {% for hue in range(200, 250, 10) %}
		<tr>
		    {% for satutation in range(50, 110, 10) %}
			<td style="color: hsl({{ hue }}, {{ satutation }}%, {{ luminosity }}%)">Contrast {{ hue }} {{ satutation }} {{ luminosity }}</td>
		    {% endfor %}
		</tr>
	    {% endfor %}
	{% endfor %}
    </table>


    <h2 id="dark-table">Dark Background Table</h2>
    <table class="table inverted-color-gray-20" style="font-size: 13pt; text-align: center">
	{% for luminosity in range(40, 70, 10) %}
	    {% for hue in range(30, 120, 10) %}
		<tr>
		    {% for satutation in range(50, 110, 10) %}
			<td style="color: hsl({{ hue }}, {{ satutation }}%, {{ luminosity }}%)">Contrast {{ hue }} {{ satutation }} {{ luminosity }}</td>
		    {% endfor %}
		</tr>
	    {% endfor %}
	{% endfor %}
    </table>


    <h2 id="foreground-hue">Foreground Hue</h2>
    {% for hue in range(0, 360, 10) %}
	<h3 style="color: hsl({{ hue }}, 100%, 50%)">Hue {{ hue }}</h3>
	{% for saturation in range(100, 0, -20) %}
	    <p style="font-size: 16pt; color: hsl({{ hue }}, {{ saturation }}%, 50%); margin-left: {{ 100 - saturation }}px">
		{{ saturation }}% Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
	{% endfor %}
    {% endfor %}


    <h2 id="foreground-hue-on-nverted">Foreground Hue on inverted background</h2>
    {% for hue in range(0, 360, 10) %}
	<h3 style="color: hsl({{ hue }}, 100%, 50%)">Hue {{ hue }}</h3>
	<div class="inverted-color-gray-20" style="padding: 10px">
	    {% for saturation in range(100, 0, -20) %}
		<p style="font-size: 16pt; color: hsl({{ hue }}, {{ saturation }}%, 50%); margin-left: {{ 100 - saturation }}px">
		    {{ saturation }}% Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
	    {% endfor %}
	</div>
    {% endfor %}

    {% for color1 in couples|sort %}
	{% if color1 not in ('Black', 'Gray', 'White') %}
	    <h3>{{ color1 }}</h3>
	    {% for color2 in couples[color1] %}
		<h4>{{ color2 }}</h4>
		<table class="table" style="font-size: 14pt; text-align: center">
		    {% set hue = colour_hsl[color1][0] %}
		    {% set saturation = colour_hsl[color1][1] %}
		    {% for hue in range(hue -30, hue +35, 5) %}
			<tr style="">
			    {% for saturation in range(saturation -20, saturation +20, 5) %}
				{% if saturation <= 100 %}
				    <td style="
					background: hsl({{ hue }}, {{ saturation }}%, {{ colour_hsl[color1][2] }}%);
					color: hsl({{ colour_hsl[color2][0] }}, {{ colour_hsl[color2][1] }}%, {{ colour_hsl[color2][2] }}%);
					font-weight: 600
					">
					Contrast</td>
				{% endif %}
			    {% endfor %}
			</tr>
		    {% endfor %}
		</table>
	    {% endfor %}
	{% endif %}
    {% endfor %}

{% endblock %}
